.App {
  text-align: center;
}

.container {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

button {
  font-size: calc(10px + 2vmin);
}

.hashed {
  letter-spacing: 0.3em;
  padding-bottom: 25px;
}

.letters {
  letter-spacing: 0.3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.7rem;
}

.holder {
  margin-top: 20px;
  justify-content: center;
}

.poster-container {
  width: 300px;
  min-height: 400px;
  align-items: center;
  margin: 0 auto;
  padding: 0px 20px;
  margin-bottom: 50px;
  max-height: 75%;
}

.poster-blur {
  margin-top: 25px;
  filter: blur(15px);
  min-width: 100%;
}

.poster {
  margin-top: 25px;
  min-width: 100%;
  border: 5px solid #32cd32;
}

.won {
  border: 5px solid #32cd32;
}

.lost {
  border: 5px solid red;
}

@media (max-width: 600px) {
  .poster-blur {
    max-width: 75%;
  }
}
@media (max-width: 600px) {
  .poster {
    max-width: 75%;
  }
}

div.gameOver > * {
  margin: 15px 0px;
  font-size: 1.5em;
}

/* div.winText > * {
;
} */

.playAgain {
  padding: 15px;
  border-radius: 2px;
  font-size: 2em;
}

.playContainer {
  max-width: 640px;
  text-align: center;
  margin: auto;
  height: 100%;
}

.safe {
  color: #32cd32;
}

.warning {
  color: orange;
}

.danger {
  color: red;
}
