.App {
  text-align: center;
}

.container {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.hashed {
  letter-spacing: 0.3em;
  padding-bottom: 25px;
}

.letters {
  letter-spacing: 0.3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.7rem;
}

.holder {
  margin-top: 20px;
  justify-content: center;
}

.poster-blur {
  margin-top: 25px;
  margin-bottom: 25px;
  filter: blur(15px);
  max-width: 90%;
}

.poster {
  margin-top: 25px;
  margin-bottom: 45px;
  max-width: 100%;
}

@media (max-width: 400px) {
  .poster-blur {
    max-width: 75%;
  }
}
@media (max-width: 400px) {
  .poster {
    max-width: 75%;
  }
}
