.App {
  text-align: center;
}

.container {
  text-align: center;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.hashed {
  letter-spacing: 0.3em;
  padding-bottom: 25px;
}

.letters {
  letter-spacing: 0.3em;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2.7rem;
}

.holder {
  margin-top: 20px;
  justify-content: center;
}

.poster-container {
  max-width: 90%;
  align-items: center;
  margin: 0 auto;
  padding: 0px 20px;
}

.poster-blur {
  margin-top: 25px;
  filter: blur(15px);
  min-width: 100%;
}

.poster {
  margin-top: 25px;
  min-width: 100%;
  border: 5px solid #32cd32;
}

.won {
  border: 5px solid #32cd32;
}

.lost {
  border: 5px solid red;
}

@media (max-width: 600px) {
  .poster-blur {
    max-width: 75%;
  }
}
@media (max-width: 600px) {
  .poster {
    max-width: 75%;
  }
}

div.gameOver > * {
  margin: 15px 0px;
  font-size: 1.5em;
}

/* div.winText > * {
;
} */

.playAgain {
  padding: 15px;
  border-radius: 2px;
  font-size: 2em;
}

.playContainer {
  max-width: 640px;
  text-align: center;
  margin: auto;
}

.safe {
  color: #32cd32;
}

.warning {
  color: orange;
}

.danger {
  color: red;
}
